


h3, span, button, table {
  /*font-family: 'Fredoka One', cursive;*/
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}
.full-screen {
}


.bar-menu {
}

.account-content-menu {
}

.datatable {
  width: 85%;
}
