h3 {
  font-family: 'Train One', cursive;
  font-size: 30px;
}

p, label, small {
  font-family: 'Fredoka One', cursive;
}

input, button {
  border-radius: 0;
}

.bord {
  border: solid;
}

.full-screen {
  height: 100vh;
}

.barre-outil {
  height: 96.4vh;
  padding: 1.5rem;
}

.favoris {
  padding: 0.5rem;
  transform: translateY(40%);
}

.desktop {
  height: 96.4vh;
  background-image: url('../../assets/barley-field-1684052_1920.jpg');
  background-size: cover;
}

.option {
  width: 100%;
}

.option i {

  font-size: 65px;
}

.option img {
  width: 100%;
  height: 100%;
}

.menu-option {
  /*background-color: white;*/
  /*border: ridge 3px rgb(247, 250, 72);
  background-color: #f0ad4e;*/
  cursor: pointer;
}

.menu-option:hover {
  border: solid 1px;
  border-color: white;
}
