<div class="container-fluid full-screen">
  <div class="row">
      <div class="col-md-12 bg-dark text-light p-1" style="display: inline-block; height: 25px;">
        <h6 style="font-size: small ;">SCOOP-SYS</h6>
        <small class="p-1" style="position: absolute; top: 0; right: 5px;" *ngIf="toDay && nameUser">
          {{ nameUser }} {{ toDay }}
        </small>
      </div>
  </div>
  <div class="row">

    <div class="col-md-1 barre-outil bg-scoop-primary" >
      <div class="row">
        <div class="col-md-12 menu-option mb-1">
          <div class="option" align="center">
            <img src="https://img.icons8.com/color/48/000000/sales-performance.png"/>
          </div>
        </div>
        <div class="col-md-12 menu-option mb-1">
          <div class="option" align="center">
            <img src="https://img.icons8.com/color/48/000000/industrial-scales-connecting.png"/>
          </div>
        </div>
        <div class="col-md-12 menu-option mb-1">
          <div class="option" align="center">
            <img src="https://img.icons8.com/color/48/000000/event-log.png"/>
          </div>
        </div>
        <div class="col-md-12 menu-option mb-1">
          <div class="option" align="center">
            <img src="https://img.icons8.com/color/48/000000/in-inventory.png"/>
          </div>
        </div>


        <div class="col-md-12 " style="position: absolute;bottom: 0;cursor: pointer;">
          <div class="option" align="center" >
            <i class="material-icons text-light" (click)='Menu()'>
              apps
            </i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-11 desktop">

    </div>

  </div>
</div>
