<div class="container-fluid login-content">

  <div class="row">

    <div class="col-md-5 bord" id="back-image">
      <div class="decorate-text">
        <!--<h3 class="">SCOOP COOPRACA</h3>-->
        <p class="mt-3" style="width: 50%;">
          La coopérative toujours à la pointe de la technologie avec la
          <span style="text-decoration: underline;">
            <a href="lce-ci.com" class="text-success">LOCOMOTIVE SARL</a>
          </span>
        </p>
      </div>
    </div>

    <div class="col-md-7 bord">
      <mat-progress-bar mode="query"  *ngIf="loading === false"></mat-progress-bar>

      <small class="pww">J'ai oublié mon mot de passe? <a href="" class="text-warning">Cliquez-ici</a></small>

      <div class="header">
        <div class="alert alert-danger" *ngIf="error.error_404 === true">
          Une erreur est survenue. Veuillez réessayez plus tard !
        </div>
        <h3 class="text-success">Connexion sur <span class="text-warning">SCOOP-COOPRA</span></h3>
      </div>

      <div class="container login-form">
        <form method="POST" (ngSubmit)="login()">
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse E-mail</label>
            <input type="email" name="email" [(ngModel)]="userInfo.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" name="password" [(ngModel)]="userInfo.password" class="form-control" id="exampleInputPassword1">
          </div>
          <br>
          <button type="submit" class="btn bg-success text-light" style="width: 100%;">Se connecter</button>
        </form>
      </div>

      <div class="copyright" align="center">
        <small> COPYRIGHT | TOUS DROITS RÉSERVÉS</small>
      </div>
    </div>

  </div>
</div>
