<div class="container-fluid login-content">

  <div class="row">

    <div class="col-md-5 bord" id="back-image">
      <div class="decorate-text">
        <!--<h3 class="">SCOOP COOPRACA</h3>-->
        <p class="mt-3">
          La coopérative toujours à la pointe de la technologie avec la
          <span >
            <a href="lce-ci.com" class="text-scoop-primary">LOCOMOTIVE SARL</a>
          </span>
        </p>
      </div>
    </div>

    <div class="col-md-7 bord">
      <small class="pww">J'ai oublié mon mot de passe? <a href="">Cliquez-ici</a></small>

      <div class="header">
        <h3 class="text-scoop-primary">Connexion sur <span class="text-scoop-secondary">SCOOP-COOPRA</span></h3>
      </div>

      <div class="container login-form">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Adresse E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <br>
          <button type="submit" class="btn bg-scoop-primary text-light" style="width: 100%;" (click)="login()">Se connecter</button>
        </form>
      </div>

      <div class="copyright" align="center">
        <small> COPYRIGHT | TOUS DROITS RÉSERVÉS</small>
      </div>
    </div>

  </div>
</div>
