<div id="carouselExampleIndicators" class="carousel slide p-2">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-3" align="center" (contextmenu)="DropdownToogle()">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/us-dollar.png"/>
          </div>
          <div class="bg-light" *ngIf="dropdown === true">
            <a class="dropdown-item" href="#">Ajouter aux favoris</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">Signaler un problème</a>
          </div>
          <p class="text-light">Financement</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/sales-performance.png"/>
          </div>
          <p class="text-light">Achats/Ventes</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/date-span.png"/>
          </div>
          <p class="text-light">Campagne</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/cash-in-hand.png"/>
          </div>
          <p class="text-light">Pré-financement</p>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/neighbour.png"/>
          </div>
          <p class="text-light"
      class="text-light">Pisteurs</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/farm.png"/>
          </div>
          <p class="text-light"
      class="text-light">Planteurs/Producteurs</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/get-cash.png"/>
          </div>
          <p class="text-light"
      class="text-light">Paiement</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/high-priority.png"/>
          </div>
          <p class="text-light"
      class="text-light">Incident</p>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/hangar.png"/>
          </div>
          <p class="text-light"
      class="text-light">Stocks</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/goal.png"/>
          </div>
          <p class="text-light"
      class="text-light">Objectifs</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/handle-with-care.png"/>
          </div>
          <p class="text-light"
      class="text-light">Chargement</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/in-inventory.png"/>
          </div>
          <p class="text-light">Inventaires</p>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/garage-open.png"/>
          </div>
          <p class="text-light">Points de stockage</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/industrial-scales-connecting.png"/>
          </div>
          <p class="text-light">Poids</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/send-file.png"/>
          </div>
          <p class="text-light">Fiche de transfert</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/services--v3.png"/>
          </div>
          <p class="text-light">Réglages</p>
        </div>

      </div>

    </div>
    <div class="carousel-item">
      <div class="row">

        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/checked-user-male--v1.png"/>
          </div>
          <p class="text-light">Comptes Utilisateurs</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/warehouse.png"/>
          </div>
          <p class="text-light">Entrepôts</p>
        </div>
        <div class="col-md-3" align="center">
          <div class="symbol">
            <img src="https://img.icons8.com/color/48/000000/event-log.png"/>
          </div>
          <p class="text-light">Logs d'activités</p>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>

</div>

<!--




-->
