<br>
<div class="row">

  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        euro_symbol
      </i>
    </div>
    <p class="text-muted">Financement</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        add_shopping_cart
      </i>
    </div>
    <p class="text-muted">Achats/Ventes</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        date_range
      </i>
    </div>
    <p class="text-muted">Campagne</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        euro_symbol
      </i>
    </div>
    <p class="text-muted">Pré-financement</p>
  </div>

</div>

<div class="row">

  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        person
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Pisteurs</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        spa
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Planteurs/Producteurs</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        monetization_on
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Paiement</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        do_not_disturb
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Incident</p>
  </div>

</div>


<div class="row">

  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        archive
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Stocks</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        beenhere
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Objectifs</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        airport_shuttle
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Chargement</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        assignment
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Inventaires</p>
  </div>

</div>


<div class="row">

  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        store
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Points de stockage</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        settings_input_svideo
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Poids</p>
  </div>
  <div class="col-md-3" align="center">
    <div class="symbol">
      <i class="material-icons">
        subject
      </i>
    </div>
    <p class="text-muted"
class="text-muted">Fiche de transfert</p>
  </div>


</div>
