h3 {
  font-family: 'Train One', cursive;
  font-size: 30px;
}

p, label, small {
  font-family: 'Fredoka One', cursive;
}

input, button {
  border-radius: 0;
}


.symbol {
  /*border: solid 1px;*/
  width: 60%;
  cursor: pointer;
}

.symbol:hover {
  border: solid 1px #fff;
}

.symbol img {
  height: 50%;
  width: 50%;
}

.symbol p {
  color: #fff;
}

i {
  font-size: 65px;
  font-weight: 100;
  color: #E53A14;
}

.carousel-indicators {
  position: fixed;
  bottom: 0;
}
