h3 {
  font-family: 'Train One', cursive;
}

p, label, small {
  font-family: 'Fredoka One', cursive;
}

input, button {
  border-radius: 0;
}


.header {
  padding: 2;
  margin-top: 1rem;
}

.window-message {
  border-radius: 20px;
  height: 200px;
  margin-top: 2rem;
  box-shadow: 5px 5px 5px 5px #dad2d2;
  padding: 0rem;
}

.i {
  font-size: 140px;

}

.c {
  float: right;
  color: red;
}


.footer {
  padding-top: 3rem;
}

.full-body {
  height: 100vh;
  border: solid;
  /*background-image: url('../../assets/full-screen.jpg');*/
  background-image: url('https://cdn.pixabay.com/photo/2014/04/05/19/24/cashew-fruit-317298_960_720.jpg');
  background-size: cover;
  filter: blur(2.5px);
-webkit-filter: blur(2.5px);
-moz-filter: blur(2.5px);
-o-filter: blur(2.5px);
-ms-filter: blur(2.5px);
}

.contenu {
  position: fixed;
  top: 0;
}

.menu {
  /*border: solid;*/
}
