<div class="container-fluid header">
  <header>
    <app-navbar></app-navbar>
  </header>
</div>

<!-- <div class="container window-message">
  <i class="material-icons c">cancel</i>
  <div class="row">
    <div class="col-md-4" align="center">
      <i class="material-icons i text-scoop-primary">mood</i>
    </div>
    <div class="col-md-8 p-2" align="center">
      <h3 class="text-scoop-secondary">Bienvenue sur votre plateforme de gestion intégrée !</h3>
      <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique nisi ut at! Eaque, sequi. Tenetur expedita sint ducimus enim rem, pariatur fugiat similique, doloribus nemo nostrum perspiciatis quidem excepturi et?</p>
    </div>
  </div>
</div> -->


<div class="container-fluid full-body">

  <div class="container mt-5 menu">
    <app-menu></app-menu>
  </div>

  <div class="container-fluid footer" align="center">
    <footer>
      <small> COPYRIGHT | TOUS DROITS RÉSERVÉS</small>
    </footer>
  </div>

</div>





